
/*Font Selectors */
.cursive {
    font-family: cursive;
}
.the-real-zero{
    font-feature-settings: "zero";
}
.make-it-ugly{
    font-kerning: none;
}
.bold {
    font-weight: bold;
}

.italic {
    font-style:italic;
}

.line-height {
    line-height: 50px;
}

.font {
    /* TODO -put actual shorthand here*/
    font-family: cursive;
    font-feature-settings: unset;
    font-kerning: none;
    font-language-override: revert;
    font-size: 12px;
    font-size-adjust: revert;
    font-stretch: ultra-condensed;
    font-style: oblique;
    font-synthesis: weight;
    font-variant: small-caps;
}

.font-stretch{
    font-stretch: extra-condensed;
}