
/*Font Selectors */
.cursive {
    font-family: cursive;
}
.the-real-zero{
    font-feature-settings: "zero";
}
.make-it-ugly{
    font-kerning: none;
}
.bold {
    font-weight: bold;
}

.italic {
    font-style:italic;
}

.line-height {
    line-height: 50px;
}

.font {
    /* TODO -put actual shorthand here*/
    font-family: cursive;
    font-feature-settings: unset;
    font-kerning: none;
    font-language-override: revert;
    font-size: 12px;
    font-size-adjust: revert;
    font-stretch: ultra-condensed;
    font-style: oblique;
    font-synthesis: weight;
    font-variant: small-caps;
}

.font-stretch{
    font-stretch: extra-condensed;
}

/* Background Selectors */
.background-clip{
    background-clip: padding-box;
    background: chartreuse;
}

.background-attachment{
    background-attachment: fixed;
    background-image:url(http://via.placeholder.com/350x150);
    min-height:150px;
}


/*Formatting? - not sure where to place z-index*/

.z-index1{
    z-index: 1;
    width: 75px;
    height:75px;
    background-color: red;
    float:left;
    position:absolute;
    line-height:75px;

}

.z-index2{
    z-index: 2;
    width: 60px;
    height:30px;
    background-color: blue;
    float:left;
    position:absolute;
    left:35px;
}



/*Flex */

.align-content{
    align-content: space-between;
    display:flex;
}

/*End Flex */

/*Pseudo-Selectors*/
.active:active{
    color:red;
}

:matches(p,span) .matches:hover{
    color:red;
}


/*End Pseudo-Selectors*/
