
/*Font Selectors */
.cursive {
    font-family: cursive;
}
.the-real-zero{
    font-feature-settings: "zero";
}
.make-it-ugly{
    font-kerning: none;
}
.bold {
    font-weight: bold;
}

.italic {
    font-style:italic;
}